.weather-day{
  display: inline-block;  
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 5px;
  width: 50px;
  font-family: "Calibri"
}
.highTemp{
  background-color: darkgrey
}

.lowTemp{
  background-color: lightgrey
}

.day{
  background-color: darkgray
}

.weatherImg{
  background-color: lightgray
}